* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 6555px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
.logo{
    display: inline;
    margin-right: 420px;
}
.icon-home{
    color: white;
    font-size: 25px;
    padding-right: 20px;
   margin-top: 5px;
}
.search-input {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
}
.icon-search {
    color: black;
    font-size: 20px;
 margin-left: -216px;
}
.header {
    background-color: rgba(59, 136, 236, 0.5);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
}
.ul1 {
    float: right;
    list-style-type: none;
    margin-right: 125px;
}

.ul1 li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
    position: relative;
}

.ul1 li a {
    color:white;
    text-decoration: none;
    display: block;
}

a.active::after,
nav.navigation a.hov:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: blue;
    margin-top: 2px;
    transition: .3s;
}

nav.navigation a.hov::after {
    content: '';
    height: 2px;
    width: 0;
    display: block;
    background: blue;
}
.block_d {
    position: relative; 
    display: inline-block;
}
.drop_down {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: white;
    min-width: 180px;
    border-radius: 8px; 
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1); 
    padding: 10px 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.block_d:hover .drop_down {
    visibility: visible;
    opacity: 1;
}


.drop_down ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.drop_down ul li {
    padding: 10px 20px;
    text-align: center;
}

.drop_down ul li a {
    color: #5184f3; 
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    transition: color 0.2s;
}

.drop_down ul li a:hover {
    color: #5a5eb1;
    text-decoration: underline;
}
.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(../imgs/imag1.webp) no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.title1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.para1 {
    color: #fff;
    text-align: center;
    margin-top: -38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 14px;
}

.div1 {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn1 {
    width: 150px;
    height: 48px;
    background-color: rgb(238, 234, 234);
    border-radius: 6px;
    border: 0;
    font-size: 19px;
    margin-left: 310px;
    margin-top: 12px;
}

.btn2 {
    width: 150px;
    height: 48px;
    background-color: blue;
    border-radius: 6px;
    border: 0;
    font-size: 19px;
    margin-left: 15px;
    color: #fff;
}

.btn1:hover {
    opacity: .7;
    cursor: pointer;
}

.btn2:hover {
    opacity: .7;
    cursor: pointer;
}

.title2 {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.div2  ,.div6,.div4{
    display: block;
    width: 62px;
    height: 2px;
    background-color: rgba(105, 55, 187, 0.884);
    margin: 0 auto 70px auto;
    margin-top: 10px;
}

.parent1 {
    margin-top: 70px;
}

.container1 {
    width: 90%;
    margin: auto;
}

.div3 {
    width: 295px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid rgb(134, 101, 134);
    float: left;
    margin-left: 100px;
    position: relative;
}

.i1,
.i3,
.i2 {
    color: #a268e6;
    font-size: 22px;
    padding-left: 130px;
    padding-top: 28px;
}

.par2,
.par3,
.par4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(104, 99, 99);
    font-size: 15px;
    padding-top: 10px;
    text-transform: capitalize;
}

.link1,
.link2,
.link3 {
    padding-left: 100px;
    color: #1f5bd3;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    z-index: -1;
}

.title3 {
    padding-top: 10px;
}

.div3:after {
    content: "";
    position: absolute;
    width: 5%;
    height: 0;
    top: 0;
    left: 0;
        background-color: rgb(112, 108, 108);

    opacity: 0;
}

.div3:hover:after {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: 0.5s;
    z-index: -1;
}

.div3:hover .title3 {
    color: white;
}

.page {
    background-color: #e8e8e8;
    width: 100vw;
    height: 900px;
    margin-top: 520px;
}

.title6 {
    margin-bottom: 100px;
}

.title6 .h2 {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px;
}

.div6 {
    margin-top: -90px;
}

.div7 {
    margin-top: -10px;
    overflow: auto;
}

.image1  ,.image2{
    position: relative;
}

.img_overlay,
.img_overlay1,
.img_overlay2,
.img_overlay3,
.img_overlay4,
.img_overlay5 {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 245px;
    height: 320px;
    margin-left: 163.5px;
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.img_overlay1 {
    left: 409px;
}

.img_overlay2 {
    left: 819px;
}

.img_overlay3 {
    top: 60px;
    height: 300px;
}

.img_overlay4 {
    top: 60px;
    height: 300px;
    left: 409px;
}

.img_overlay5 {
        height: 300px;
    top: 60px;
    left: 820px;
}

.img_overlay>*,
.img_overlay1>*,
.img_overlay2>*,
.img_overlay3>*,
.img_overlay4>*,
.img_overlay5>* {
    transform: translateY(20px);
    transition: transform 0.9s;
}

.img_overlay:hover>*,
.img_overlay1:hover>*,
.img_overlay2:hover>*,
.img_overlay3:hover>*,
.img_overlay4:hover>*,
.img_overlay5:hover>* {
    transform: translateY(0);
}

.img_overlay:hover,
.img_overlay1:hover,
.img_overlay2:hover,
.img_overlay3:hover,
.img_overlay4:hover,
.img_overlay5:hover {
    opacity: 1;
}

.i4 ,.i5 {
    color: rgb(107, 107, 110);
    background-color: white;
    padding-left: 10px;
    width: 42px;
    padding-top: 5px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.i4{
     /* margin-right: 80px; */
    margin-top: 20px;
}

.i5 {
    /* margin-left: 26px; */
    margin-top: -32px;

}
.icons{
}
.image__description {
    margin-top: 6px;
}

.img2,
.img3,
.img4 ,.img5,
.img6,
.img7 {
    width: 249px;
height: 300px;
    margin-left: 161px;
    float: left;
    border: 1px solid rgb(179, 177, 177);
}

 .img5,
.img6,
.img7{
    margin-top: 50px;
   
}

.offer-title,
.team-title,
.news-title {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 105px;
}

.offer {
    margin-top: 70px;
}

.offer1 {
    border-radius: 10px;
    width: 310px;
    height: 250px;
    border: 1px solid #d8c8c8;
    float: left;
    margin-left: 100px;
    position: relative;
}

.i6 {
    color: #ad5cd3;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 15px;
}

.off1-title {
    display: inline;
    padding-top: 20px;
 font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}

.offe1-p {
    color: #999;
    line-height: 1.6;
    width: 80%;
    padding-top: 18px;
    padding-left: 48px;
}

.offer1:after {
    content: "";
    position: absolute;
    width: 5%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(49, 47, 47);
    opacity: 0;
}

.offer1:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 10px;
    z-index: -1;
}

.offer1:hover .off1-title {
    color: white;
}

.content {
    width: 60%;
}

.slider1 {
    margin-top: 700px;
    width: 100vw;
    height: 88vh;
}

.content-title {
    font-size: 32px;
    padding-left: 110px;
    padding-top: 40px;

}

.div4 {
    margin-left: 115px;
}

.content-p1 {
    padding-left: 115px;
    width: 70%;
    color: rgb(153, 153, 153);
}

.i7 {
color: rgba(105, 55, 187, 0.884);
    padding-left: 115px;
    padding-top: 20px;
    font-size: 22px;
}

.content-p2 {
    display: inline-block;
    color: rgb(170, 163, 163);
}

.imgs {
    margin-top: -250px;
    margin-left: 900px;
    text-align: center;
    
}

.service-bullets {
    text-align: center;
    list-style: none;
}

.service-icon li.active {
     background-color: rgba(105, 55, 187, 0.884);

}

.service-icon li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgb(168, 168, 168);
    margin: 10px 5px;
    border-radius: 50%;
}

.service-icon li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgb(168, 168, 168);
    margin: 20px 5px;
    border-radius: 50%;
}

.service-icon li:hover {
        background-color: rgba(105, 55, 187, 0.884);

    cursor: pointer;
}

.lists,
.blogs {
    position: relative;
    background-image: url(../imgs/images.jpg);
    height: 500px;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blogs {
    background-image: url(../imgs/final.jpg);
}

.list-items,
.blog-items {
    padding-top: 130px;
    overflow: hidden;
}

.list-item {
    text-align: center;
    width: 25%;
    float: left;
}

.i8 {
    color: rgb(97, 149, 255);
    margin-bottom: 15px;
}

.list-item-title {
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.list-item-text {
    color: rgb(255, 255, 255);
}

.parents {
    width: 100vw;
    height: 100vh;
}

.titl {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.pricing {
    width: 330px;
    height: 350px;
    border: 1px solid grey;
    float: left;
    margin-left: 110px;
    position: relative;
    border-radius: 10px;
}

.pricing-span {
    margin-left: 90px;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    padding: 20px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    padding: 5px 0px;
    margin: 1px auto;
    border: 2px solid rgb(97, 149, 255);
}

.card-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.card-span {
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
}

.price-list {
    list-style-type: none;
    text-align: center;
    color: black;
    padding-top: 15px;
}
.price-list li {
  line-height: 29px;
}

.btn4 {
    border: 2px solid rgb(47, 48, 49);
    margin-left: 100px;
    height: 30px;
    margin-top: 19px;
    width: 140px;
    border-radius: 10px;
    text-transform: capitalize;
}

.pricing:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color:#283c64;
    opacity: 0;
    border-radius: 10px;
}

.pricing:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: .9s;
}

.pricing:hover .pricing-span {
  color: #7395d8;
}

.blog-item {
    float: left;
    margin-left: 100px;
}

.iii {
    margin-top: -10px;
    margin-left: -230px;
}

.blog-span {
  color: #c172e6;
    margin-left: -500px;
    float: right;
    margin-top: 26px;
    margin-right: 498px;
}

.blog-par {
    color: white;
    width: 65%;
    font-size: 13px;
    margin-left: -70px;
    margin-top: 10px;
}

.team-item {
    display: block;
    float: left;
    width: 30%;
    background-color: rgba(175, 168, 168, 0.8);
    padding: 17px 13px;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.team-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-overley {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
}

.team-item:hover .team-overley {
    visibility: visible;
    opacity: 1;
}

.team-overley a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(32, 120, 235);
    color: #fff;
    margin-left: auto;
}

.team-overley a i {
    line-height: 40px;
}

.team-info-title {
    padding: 10px 0;
}

.team-info-text {
    color: rgb(48, 46, 46);
    font-size: 16px;
}

.mg {
    margin: 0 5%;
}

.team-img img {
    width: 100%;
}

.team-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(7, 6, 6);
    opacity: 0;
    border-radius: 10px;
}

.team-item:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
}
.team-item:hover .team-info-title{
    color: white;
}

.tags {
    overflow: hidden;
    /* background-color: #f8f8f8; */
}

.tag {
    display: block;
    float: left;
    width: 25%;
    padding: 15px 13px;
    border: #5f7aaf solid 1px;
    position: relative;
    /* background-color: #e4dede; */
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 60px;
}
.tags :hover .tag-title{
    color: rgb(32, 19, 150);
}

.tags :hover .tag-desc{
    color:  rgb(32, 19, 150);
}
.tag-item {
    padding: 22px;
}

.tag-ul {
    list-style-type: none;
    margin: 10px 0;
}

.tag-ul li {
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
}

.tag-title {
    font-weight: bold;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.tag-desc {
    color: #3a3838;
    margin-bottom: 20px;
}

.tag:after {
    content: "";
    position: absolute;
    width: 96%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(219, 227, 233);
    opacity: 0;
    border-radius: 10px;
}

.tag:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
    left: 0px;
}

.footer {
    background-color: #f1f2f7;
    text-align: center;
    height: 320px;
    padding: 50px 0;
}

.hover-icon {
    list-style: none;
    margin: 10px 0;
}

.hover-icon li {
    display: inline-block;
    background-color: #a47bb4;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

.hover-icon li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 50px;
    padding-right: 15px;
    font-size: 23px;
    margin: 0 8px;
}

.hover-icon li :hover {
    background-color: rgb(154, 46, 216);
    border-radius: 50%;
    margin-left: 0px;
    padding-right: 1px;
}